<h2 class="text-blue-600 text-2xl font-bold text-center">
  Sitio Multi-Idiomas con Angular v18
</h2>
<div
  class="flex bg-amber-500 antialiased selection:bg-blue-600 selection:text-white"
>
  <div class="container-fluid my-5 text-ellipsis text-center">
    <div class="grid grid-cols-3 gap-3 mt-5">
      <div>
        <h2 class="text-yellow-400">¿Qué es 'angular'?</h2>
        <p class="text-primary">
          {{ "angular" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-blue-900">¿Qué es 'react'?</h2>
        <p class="text-primary">
          {{ "react" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-blue-600">¿Qué es 'javascript'?</h2>
        <p class="text-primary">
          {{ "javascript" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-green-600">¿Qué es 'algorithm'?</h2>
        <p class="text-primary">
          {{ "algorithm" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-red-600">¿Qué es 'error'?</h2>
        <p class="text-primary">
          {{ "error" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-purple-600">¿Qué es 'compiler'?</h2>
        <p class="text-primary">
          {{ "compiler" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-teal-600">¿Qué es 'database'?</h2>
        <p class="text-primary">
          {{ "database" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-indigo-600">¿Qué es 'framework'?</h2>
        <p class="text-primary">
          {{ "framework" | translate }}
        </p>
      </div>
      <div>
        <h2 class="text-pink-600">¿Qué es 'API'?</h2>
        <p class="text-primary">
          {{ "API" | translate }}
        </p>
      </div>
    </div>

    <div class="mt-4 space-x-2">
      @for (language of idiomas; track language.alias) {
      <button
        class="p-4 bg-blue-700 rounded-full text-white hover:bg-slate-700 px-4 py-2"
        (click)="changeLang(language.alias)"
      >
        {{ language.name | uppercase }}
      </button>
      }
    </div>
  </div>
</div>
